$navy: #0E5271;
$muted-blue: #4F7DA7;
$azure-blue: #0073A4;
$electric: #52BFE2;
$sky: #6BBCE1;
$victorian: #CCDDE4;
$white: #FFF;
$background-white-colour: #F1F1F1;
$background-white-grey: #EFEEE0;
$error-grey: #FAEBE7;
$white-grey: #EAEAEA;
$eighty-grey: #CED1D5;
$blue-grey: #95A7B9;
$arrow-grey: #d9dadf;
$sixty-grey: #93A0A8;
$fifty-grey: #808080;
$header-grey: #F0F0F1;
$see-too-grey: #C2C2C2;
$c-grey: #ccc;
$border-grey: #CED4DA;
$text-grey: #999;
$eight-grey: #888;
$five-grey: #555;
$table-hover-grey: #EDEDED;
$hover-grey: rgba(128, 128, 128, 0.09);
$dark-purple: #404F6B;
$dark-navy: #033F50;
$dark-cyan: #004646;
$grey-cyan: #1E777F;
$light-cyan: #17747F;
$funder-colour: #00A992;
$grid-colour: #47939A;
$grid-border: #12767F;
$permission-colour: #17A2B8;
$algea: #00874D;
$turq: #00AE97;
$pea: #97C9AA;
$ocean: #36BBD3;
$servicer-colour: #0877A7;
$yell: #FEE328;
$yellow-orange: #F5C270;
$rich-orange: #F59D58;
$rich-peach: #EF876F;
$originator-colour: #F3876B;
$peach: #EFBBA7;
$blood-red: #C8372E;
$error-border: #F16048;
$red-brown: #7C3638;
$rich-brown: #925649;
$black: #000;

$pretty-dark: #333334;
$dark-grey: #4e4d4d;
$dada-grey-text: #d9dade;
$retro-grey: #818181;
$grey-on-black-grey: #e4e1e5;
$cta-blue-on-dark: #5ec0e6;

$shadow-color: rgba(0, 0, 0, 0.35);
$shadow-color-lighter: rgba(0, 0, 0, 0.17);
$shadow-color-darker: rgba(0, 0, 0, 0.85);
$overlay: rgba(20, 20, 20, 0.8);
$background-table-strip: rgba(0, 0, 0, 0.17);

$font-colour: #353535;
$font-colour-trans: rgba(53,53,53, 0.2);
$light-grey: #fafafa;
$background-white: $light-grey;
$background-colour: $background-white;
$border-colour: #707070;
$cream: #F3F2E8;
$cream-0: rgba(243, 242, 232, 0);
$cream-03: rgba(243, 242, 232, 0.33);
$fog: rgba(222, 222, 222, 0.71);
$light-cream: #F8F7F7;
$link-colour: $azure-blue;
$link-bright: #0073A4;
$marketplace-orange: #F6601E;
$marketplace-orange-trans: rgba(246, 96, 30, 0.85);
$warning-red: #ce130b;
$warning-red-trans: rgba(206, 19, 11, 0.2);
$tt-salmon: #F1B096;

$bg-card-color: #eff0e5;