.rows {
    margin-top: calc(var(--spacing-tiny) * 2);

    .box {
        display: inline-block;
        background: var(--main-color);
        margin-left: 2rem;
        width: var(--spacing-normal);
        height: px2rem(16);
    }
}

